<a href="/festivals"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Festivals</a>

<h1 class="jumbotron text-center"><%= @user.username.capitalize %>'s Festival Page</h1>

<div class="well">
  <% if @user.id == current_user.id %>
    <h3 class="text-center">You're going to...</h3>
  <% else %>
    <h3 class="text-center">They're going to...</h3>
  <% end %>

  <div class="row clearfix">
    <% @user.festivals.each do |festival| %>
      <div class="festival-section text-center going">
        <a href="/festivals/<%= festival.id %>">
          <h3><%= festival.name %></h3>
          <p><%= festival.location %></p>
          <p><%= festival.date %></p>
        </a>
        <a href="/festivals/<%= festival.id %>/remove" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> I'm not going anymore.</a>
      </div>
  <% end %>
</div>
