<% if flash[:error] %>
 <% flash[:error].each do |e| %>
   <p class="error message"><%= e + "." %></p>
  <% end %>
<% end %>

<a href="/festivals/<%= @festival.id %>"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Festival</a>

<div class="text-center" style="
  background: url('<%= random_bg_image_url %>') no-repeat center center;
  padding: 100px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px 10px 0 0;">
  <h1>Update Festival</h1>
</div>

<div class="well">
  <form action="/festivals" method="post">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label for="festival-name">Festival Name:</label>
          <input type="text" name="festival[name]" id="festival-name" class="form-control" value="<%= @festival.name %>">

          <label for="festival-location">Festival Location:</label>
          <input type="text" name="festival[location]" id="festival-location" class="form-control" value="<%= @festival.location %>">

          <label for="festival-date">Festival Date:</label>
          <input type="date" name="festival[date]" placeholder="MM/DD/YY" id="festival-date" class="form-control" value="<%= @festival.date %>">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Create Lineup</h3>

        <p>Choose from existing artists:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="checkboxes">
          <% Artist.all.each do |artist| %>
            <li><input type="checkbox" name="festival[artist_ids][]" value="<%= artist.id %>" <%= 'checked' if @festival.artists.include?(artist) %>><%= artist.name %></input></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 new-artists">
        <p>Or add new artists:</p>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

        <div class="mult-artists">
          <label for="[new_artist][][name]">Artist Name:</label>
          <input type="text" name="[new_artist][][name]" class="form-control">
          <label for="[new_artist][][genre]">Artist Genre:</label>
          <input type="text" name="[new_artist][][genre]" class="form-control">
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <input type="submit" value="Update Festival" class="btn btn-lg btn-primary">
      </div>
    </div>
  </form>
</div>
