<% if flash[:message] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:message] %>
  </div>
<% end %>

<h1>Upcoming Festivals</h1>

<% Festival.all.each do |festival| %>
  <a href="/festivals/<%= festival.id %>"><h2><%= festival.name %></h2></a>
  <h4><%= festival.location %></h4>
  <p><%= festival.date %></p>
<% end %>
