<%= flash[:message] %>
<%= session[:message] %>
<% session[:message].clear %>

<form action="/logout" method="post">
  <input type="submit" value="Log Out">
</form>

<a href="/festivals/new">Create a Festival</a>

<h1>FESTIVAL HOME PAGE</h1>

<% Festival.all.each do |festival| %>
  <a href="/festivals/<%= festival.id %>"></a><h2><%= festival.name %></h2>
  <h4><%= festival.location %></h4>
  <p><%= festival.date %></p>
<% end %>
