<% if flash[:message] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:message] %>
  </div>
<% end %>

<div class="text-center" style="
  background: url('<%= random_bg_image_url %>') no-repeat center center;
  padding: 100px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px 10px 0 0;">
  <h1 class="well">Upcoming Festivals</h1>
</div>

<div class="well create-festival text-center">
  <a href="/festivals/new" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add New Festival</a>
</div>

<div class="well">
  <div class="row">
    <div class="clearfix">
      <% Festival.all.each do |festival| %>
        <% if current_user.festivals.include?(festival) %>
          <div class="festival-section text-center going">
            <a href="/festivals/<%= festival.id %>" class="text-center">
              <h2><%= festival.name %></h2>
              <h4><%= festival.location %></h4>
              <p><%= festival.date.strftime("%A %B %d, %Y") %></p>
            </a>

            <a href="/festivals/<%= festival.id %>/remove" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> I'm not going anymore.</a>
          </div>
        <% else %>
          <div class="festival-section text-center not-going">
            <a href="/festivals/<%= festival.id %>" class=" text-center">
              <h2><%= festival.name %></h2>
              <h4><%= festival.location %></h4>
              <p><%= festival.date.strftime("%A %B %d, %Y") %></p>
            </a>
            <a href="/festivals/<%= festival.id %>/add" class="btn btn-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> I'm going!</a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- .strftime('%A, %B %d, %y') -->
