<% if flash[:message] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:message] %>
  </div>
<% end %>

<h1 class="jumbotron text-center">Upcoming Festivals</h1>

<div class="row create-festival text-right">
  <a href="/festivals/new" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add New Festival</a>
</div>

<div class="well">
<% Festival.all.each do |festival| %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="festival-section text-center">
        <a href="/festivals/<%= festival.id %>">
          <h2><%= festival.name %></h2>
          <h4><%= festival.location %></h4>
          <p><%= festival.date %></p>
        </a>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- .strftime('%A, %B %d, %y') -->
