<% if flash[:message] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:message] %>
  </div>
<% end %>

<a href="/festivals"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Festivals</a><br><br>

<% if @festival.created_by_user_id == current_user.id %>
  <div class="row text-center">
    <div class="col-md-12 edit-bar">
      <p>You are the creator of this festival.</p>

      <a href="/festivals/<%= @festival.id %>/edit" class="btn btn-primary">Edit Festival</a>

      <form action="/festivals/<%= @festival.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Festival" class="btn btn-danger">
      </form>
    </div>
  </div>
<% end %>

<div class="text-center" style="
  background: url('<%= random_bg_image_url %>') no-repeat center center;
  padding: 100px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;">
  <h1 class="well"><%= @festival.name %></h1>
</div>

<div class="row text-center">
  <div class="col-md-6">
    <div class="well">
      <h3><%= @festival.date %></h3>
      <p><%= @festival.location %></p>
    </div>
  </div>
  <div class="col-md-6">
    <% if current_user.festivals.include?(@festival) %>
      <div class="well">
        <h2>You're going! <i class="fa fa-thumbs-up" aria-hidden="true"></i></h2>
        <a href="/festivals/<%= @festival.id %>/remove" class="btn btn-danger">I'm not going anymore.</a>
      </div>
    <% else %>
      <div class="well">
        <h2>You're not going. <i class="fa fa-thumbs-down" aria-hidden="true"></i></h2>
        <a href="/festivals/<%= @festival.id %>/add" class="btn btn-info">I'm going!</a>
      </div>
    <% end %>
  </div>
</div>

<div class="well">
  <h2 class="text-center">Lineup</h2>

  <% @festival.artists.each do |artist| %>
    <h4><a href="/artists/<%= artist.id %>"><%= artist.name %></a></h4>
  <% end %>
</div>
